<a href="https://colab.research.google.com/github/PravinTiwari023/Python-Feature-Engineering-Project-/blob/main/02_Number_of_Fundings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Problem Statement :
Check the trend of investments over the years. To check the trend, find -
Total number of fundings done in each year.
Plot a line graph between year and number of fundings. Take year on x-axis and number of fundings on y-axis.
Print year-wise total number of fundings also. Print years in ascending order.

In [4]:
import pandas as pd
import numpy as np

In [6]:
path = "/content/drive/MyDrive/Colab/Python EDA Project/startup_funding.csv"
df = pd.read_csv(path,encoding='utf-8')

In [9]:
df["CityLocation"].dropna(inplace=True)

In [11]:
def separateCity(s):
    s = str(s)
    return s.split("/")[0].strip()
df["CityLocation"] = df["CityLocation"].apply(separateCity)

In [12]:
df["CityLocation"].replace("Delhi", "New Delhi", inplace=True)
df["CityLocation"].replace("bangalore", "Bangalore", inplace=True)

In [13]:
s=df["CityLocation"].value_counts()[0:10]
cities = s.index
num_startups = s.values

In [14]:
for i in range(len(cities)):
    print(cities[i], num_startups[i])

Bangalore 635
Mumbai 449
New Delhi 389
Gurgaon 241
nan 179
Pune 91
Noida 79
Hyderabad 77
Chennai 67
Ahmedabad 35