<a href="https://colab.research.google.com/github/PravinTiwari023/Python-Feature-Engineering-Project-/blob/main/03_Funding_amount.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Problem Statement :
Find out if cities play any role in receiving funding.
Find top 10 Indian cities with most amount of fundings received. Find out percentage of funding each city has got (among top 10 Indian cities only).
Print the city and percentage with 2 decimal place after rounding off.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab/Python EDA Project/startup_funding.csv')
df = data.copy()

In [4]:
df.AmountInUSD.dropna(inplace=True)
df.CityLocation.dropna(inplace=True)

In [6]:
def seperateCity(s):
    s = str(s)
    return s.split('/')[0].strip()
df['CityLocation'] = df['CityLocation'].apply(seperateCity)

In [7]:
df['CityLocation'].replace( "Delhi","New Delhi",inplace=True)
df['CityLocation'].replace("bangalore","Bangalore",inplace=True)

In [8]:
df["AmountInUSD"]=df["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))

In [9]:
df["AmountInUSD"]=pd.to_numeric(df["AmountInUSD"])
city_amount=df.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
# print(city_amount)
city=city_amount.index
amountCity=city_amount.values

In [10]:
perAmount=np.true_divide(amountCity, amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))

Bangalore 46.33
New Delhi 15.50
Mumbai 12.95
Gurgaon 11.38
nan 7.00
Chennai 2.26
Pune 2.02
Hyderabad 1.07
Noida 0.94
Ahmedabad 0.54